<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Spring Boot Sample">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <title>Spring Boot Sample</title>
    <link rel="shortcut icon" href="/resources/assets/images/favicon.ico">
    <!-- bootstrap css :: START :: -->
    <link href="/resources/css/bootstrap/bootstrap.css"               rel="stylesheet" type="text/css" />
    <link href="/resources/css/bootstrap/bootstrap.rtl.css"           rel="stylesheet" type="text/css" />
    <link href="/resources/css/bootstrap/bootstrap-grid.css"          rel="stylesheet" type="text/css" />
    <link href="/resources/css/bootstrap/bootstrap-grid.rtl.css"      rel="stylesheet" type="text/css" />
    <link href="/resources/css/bootstrap/bootstrap-reboot.css"        rel="stylesheet" type="text/css" />
    <link href="/resources/css/bootstrap/bootstrap-reboot.rtl.css"    rel="stylesheet" type="text/css" />
    <link href="/resources/css/bootstrap/bootstrap-utilities.css"     rel="stylesheet" type="text/css" />
    <!-- bootstrap css ::  END :: -->
    <!-- common css :: START :: -->
    <link href="/resources/css/common.css"     rel="stylesheet" type="text/css" />
    <!-- common css ::  END :: -->

    <!-- javascript library :: START :: -->
    <script src="/resources/js/jquery/jquery-3.7.0.min.js"></script>
    <script src="/resources/js/bootstrap/bootstrap.bundle.js"></script>
    <!-- javascript library ::  END :: -->
</head>