<header>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0);">Header</a>
      <div class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="button">Search</button>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center" id="nav_menu"></ul>
      </div>
    </div>
  </nav>
</header>

<script type="text/javascript">
    if (util.isEmptyObj(util.getSession('token'))) window.location.href = '/';

    /* TODO 일단은 게시판 목록만 메뉴로 노출 추후 메뉴를 설계하고 난 뒤 개발 예정 */
    $(() => {
      axios.get('/boards', {})
           .then((res) => {
             $('#nav_menu').children().remove();
             res.data.data.forEach((board) => {
               $('#nav_menu').append(`<li class="nav-item"><a class="nav-link" aria-current="page" href="javascript:void(0);">${board.boardName}</a></li>`);
             });
           });
    });
</script>