<!DOCTYPE html>
<html lang="en">
<head th:replace='/html/layout/head'></head>
<body>
    <header th:replace='/html/components/header'></header>

    <div class="mt-3 container-fluid">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs" id="board_tabs"></ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="board" role="tabpanel" aria-labelledby="board-content">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">게시글번호</th>
                                    <th scope="col">제목</th>
                                    <th scope="col">작성자</th>
                                    <th scope="col">작성일시</th>
                                    <th scope="col">조회수</th>
                                    <th scope="col">좋아요</th>
                                    <th scope="col">싫어요</th>
                                </tr>
                            </thead>
                            <tbody id="post_table"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-6">
                        <nav aria-label="page navigation">
                            <ul class="pagination mb-0 justify-content-end" id="post_pagination"></ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        class Board {
            constructor() {
                this.boardIdx   = 1;
                this.pagePerCnt = 10;
            }

            setBoardIdx(boardIdx) {
                this.boardIdx = boardIdx;
                this.getPosts(1);
            }

            getPosts(pageNo=1) {
                axios.get(`/board/${this.boardIdx}/posts?pageNo=${pageNo}`)
                     .then((res) => {
                         console.log(res);
                         $('#post_table').children().remove();
                         res.data.data.forEach((post, idx) => {
                             let tr = $('<tr style="height: 40px;"></tr>').appendTo($('#post_table'));
                             $(tr).append(`<th scope="row">${post.postIdx}</th>
                                           <td>${post.title}</td>
                                           <td>${post.nickname}</td>
                                           <td>${util.dateFormat(post.writeDate)}</td>
                                           <td>${post.viewCnt}</td>
                                           <td>${post.likeCnt}</td>
                                           <td>${post.unlikeCnt}</td>`);
                         });

                         Array(this.pagePerCnt - res.data.data.length).fill(0).forEach((item, idx) => {
                             $($('#post_table')).append(`<tr><td colspan="7" aria-hidden="true">
                                                             <div class="placeholder-glow">
                                                                 <div class="placeholder col-12"></div>
                                                             </div>
                                                         </td></tr>`);
                         });

                         /* TODO pagenation 공통 처리 필요 처리 */
                         $('#post_pagination').children().remove();
                         if (res.data.startPage > 1) {
                             $('#post_pagination').append(`<li class="page-item"><a class="page-link" href="javascript:board.getPosts(1);">Previous</a></li>`);
                         } else {
                             $('#post_pagination').append(`<li class="page-item disabled"><a class="page-link" href="javascript:void(0);" aria-disabled="true">Previous</a></li>`);
                         }
                         res.data.pages.forEach((page, idx) => {
                             let active = ((pageNo == page) ? 'active' : '');
                             $('#post_pagination').append(`<li class="page-item ${active}"><a class="page-link" href="javascript:board.getPosts(${page});">${page}</a></li>`);
                         });
                         if (res.data.endPage > pageNo) {
                             $('#post_pagination').append(`<li class="page-item"><a class="page-link" href="javascript:board.getPosts(${res.data.endPage});">Next</a></li>`);
                         } else {
                             $('#post_pagination').append(`<li class="page-item disabled"><a class="page-link" href="javascript:void(0);" aria-disabled="true">Next</a></li>`);
                         }
                     });
            }
        }
        const board = new Board();

        $(() => {
          axios.get('/boards', {})
               .then((res) => {
                   // console.log(res);
                   $('#board_tabs').children().remove();
                   res.data.data.forEach((board, idx) => {
                       var active = ((idx === 0) ? 'active' : '');
                       $('#board_tabs').append(`<li class="nav-item">
                                                    <button class="nav-link ${active}" id="board_tab" data-bs-toggle="tab" data-bs-target="#board" onclick="board.setBoardIdx(${board.boardIdx})">${board.boardName}</button>
                                                </li>`);
                   });
                   board.getPosts(1);
               });
        });

    </script>
</body>
</html>